@model List<FootballLeague.Models.Match>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <div class="well">
        <p>
            <b> @item.leagueName.</b>
            @item.Date
        </p>
    </div>
}

